<div class="container-fluid">
  <div></div>
  <div class="container">
    <h3 class="fw-bold" >Create school</h3>

    <form action="#"  method="post">
      <div class="input-group">
        <span class="input-group-text" >Name</span>
        <input type="text" aria-label="Name" class="form-control" required>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-text" >Address</span>
        <input type="text" aria-label="Address" class="form-control" required>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-text" >Phone</span>
        <input type="text" aria-label="Phone" class="form-control" required>
      </div>
      <br/>
      <a class="btn btn-outline-primary" href="/school" role="button">Cancel</a>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>
</div>
